<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">
  <table class="table table-striped table-hover"> 
  	<thead>
  	<tr>Friends!</tr>
  	</thead>
    <tbody data-link = "row" class="rowlink" style="font-family: 'Lato', sans-serif;">
      <tr ng-repeat="friend in currentUser.friends track by $index" ng-if="friend.requested == true 
          && friend.pending == true">
          <td><a href="/#/users/{{friend.username}}">{{friend.username}}</a></td>
      </tr>
    </tbody>
  </table>
</div>
