<!--<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" ng-bind-html="title"></h4>
      </div>
      <div class="modal-body">
        <div class="container" ng-show="showEditEventPage">
          <form role="form">
            <div class="form-group has-*">
              <label class="control-label">Event Name</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control" name="eventName" ng-model="eventObj.eventName" placeholder="Event Name" data-placement="right" data-trigger="focus" data-animation="am-flip-x" bs-popover="eventName" />
              </div>
            </div>

            <div class="form-group has-*">
              <label class="control-label">From</label><br>
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                <input type="text" size="10" class="form-control" ng-model="eventObj.startDate" data-autoclose="1" placeholder="Date" bs-datepicker />
                <div class="input-group-addon"><span class="glyphicon glyphicon-time"></span></div>
                <input type="text" size="8" class="form-control" ng-model="eventObj.startDate" data-autoclose="1" placeholder="Time" bs-timepicker />
              </div>
            </div>

            <div class="form-group has-*">
              <label class="control-label">To</label><br>
              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                <input type="text" size="10" class="form-control" ng-model="eventObj.endDate" data-autoclose="1" placeholder="Date" bs-datepicker />
                <div class="input-group-addon"><span class="glyphicon glyphicon-time"></span></div>
                <input type="text" size="8" class="form-control" ng-model="eventObj.endDate" data-autoclose="1" placeholder="Time" bs-timepicker />
              </div>
            </div>

            <div class="form-group has-*">
              <label class="control-label">Event Location</label>

              <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></div>
                <google-places location="location"></google-places>
              </div>
            </div>

            <div class="form-group has-*">
              <button type="submit" class="btn btn-success" ng-click="submitEvent()">Submit</button>
              <button class="btn btn-primary" ng-click="hideEditEvent()">Back</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>-->


<div class="container" style="font-family: 'Lato', sans-serif;">
  <div class="page-header"><h1><b>Edit Event</b></h1></div>
  <form name="editEventForm" ng-submit="createForm(editEventForm.$valid)" novalidate>

    <!-- Event Name -->
    <div class="form-group">
      <label>Event Name</label>
      <input type="text" name="eventName" class="form-control" ng-model="eventObj.eventName" placeholder="Event Name" required>
      <p ng-show="editEventForm.eventName.$invalid && !editEventForm.eventName.$pristine" class="help-block">An Event Name is required.</p>
    </div>

    <!-- Event Start -->
    <label>Start</label>
    <label class="col-sm-offset-5">End</label>

    <div class="form-inline">
      <div class="form-group">
       <input type="text" size="17" name="startDate" class="form-control" ng-model="eventObj.startDate" data-autoclose="1" placeholder="Date" bs-datepicker required>
       <input type="text" size="17" name="startTime" class="form-control" ng-model="eventObj.startDate" data-autoclose="1" placeholder="Time" bs-timepicker required>
       <p ng-show="editEventForm.startDate.$invalid && !editEventForm.startDate.$pristine" class="help-block">A Start Date is required.</p>
       <p ng-show="editEventForm.startTime.$invalid && !editEventForm.startTime.$pristine" class="help-block">A Start Time is required.</p>
     </div>

     <!-- Event End -->
     <div class="form-group" style="padding-left:7px">
       <input type="text" size="17" name="endDate" class="form-control" ng-model="eventObj.endDate" data-autoclose="1" placeholder="Date" bs-datepicker required>
       <input type="text" size="17" name="endTime" class="form-control" ng-model="eventObj.endDate" data-autoclose="1" placeholder="Time" bs-timepicker required>
       <p ng-show="editEventForm.endDate.$invalid && !editEventForm.endDate.$pristine" class="help-block">An End Date is required.</p>
       <p ng-show="editEventForm.endTime.$invalid && !editEventForm.endTime.$pristine" class="help-block">An Time is required.</p>
     </div>
   </div>

   <!--Oddly enough the form needs some spacing in between location and event time/location so this is here-->
   <div class="form-group">
   </div>

    <div class="form-group">
      <label>Location</label>
      <google-places ng-model="eventObj.eventLocation" location="location" coords="locationCoords"></google-places>
      <p ng-show="editEventForm.google_places_ac.$invalid && !editEventForm.google_places_ac.$pristine" class="help-block">A Location is required.</p>
    </div>

    <div class="form-group">
      <button type="button" class="form-control btn btn-primary" ng-click="addFriendsToinvite()" bs-modal="modal" content-template="app/createEvent/inviteFriendsModal.html">Invite Friends!</button>
    </div>

    <div class="form-group">
      <button type="submit" class="form-control btn btn-success" ng-disabled="createEventForm.$invalid">Submit</button>
    </div>
</div>

