body {
  color: #444;
}
.tag {
  position: relative;
  background-color: #DAE6F5;
  display: inline-block;
  margin: 5px;
  padding: 0px 8px;
  border-radius: 3px;
  border: 1px solid #bbb;
}

div[data-listview] table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

div[data-listview] .table {
  width: 100%;
  margin-bottom: 20px;
}

div[data-listview] .table th,
div[data-listview] .table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

div[data-listview] .table th {
  font-weight: bold;
}

div[data-listview] .table thead th {
  vertical-align: bottom;
}

div[data-listview] .table caption + thead tr:first-child th,
div[data-listview] .table caption + thead tr:first-child td,
div[data-listview] .table colgroup + thead tr:first-child th,
div[data-listview] .table colgroup + thead tr:first-child td,
div[data-listview] .table thead:first-child tr:first-child th,
div[data-listview] .table thead:first-child tr:first-child td {
  border-top: 0;
}

div[data-listview] .table tbody + tbody {
  border-top: 2px solid #dddddd;
}

div[data-listview] .table .table {
  background-color: #ffffff;
}

div[data-listview] table th {
  text-align: left;
} 

div[data-listview] .item {
    border: 1px solid white;
    cursor: pointer;
    padding: 5px;
}

div[data-listview] .item:hover {
    background-color: #EFF7FF;
    border: 1px solid #9CB9F7;
}

div[data-listview] .item .thumb img {
  width: 30px;
  height: 30px;
}

div[data-listview] .item .thumb {
  position: relative;
  border: 1px solid gray;
  display: inline-block;
  border-radius: 3px;
  vertical-align: middle;
  margin-right: 3px;
  width: 30px;
  height: 30px;
}

div[data-listview] .column-title {
  white-space: nowrap;
}

div[data-listview] .column-title span {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 85%;
  position: relative;
  margin-left: 5px;
  top: 2px;
}

.contact-us {
  max-width: 800px;
    padding: 20px 30px;
    margin: 0 auto 20px;
    background-color: #fff;
    border-radius: 8px;
} 

.popover{
  width:300px;
  height:100px;
  font-family: 'Lato', sans-serif;

}


.popover-title{ 
  font-weight:bold;
  font-size: 150%;
  font-family: 'Lato', sans-serif;
}

.control-label{
    font-family: 'Lato', sans-serif;
}

.form-control{
    font-family: 'Lato', sans-serif;
}

.example-animate-container {
  background:white;
  border:1px solid black;
  list-style:none;
  margin:0;
  padding:0 10px;
}

.animate-repeat {
  line-height:40px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

.date {
  width: 50px; height: 70px; 
  background: #003366; 
  background: linear-gradient(top, #d10000 0%,#7a0909 100%); 
  background: -moz-linear-gradient(top, #d10000 0%, #7a0909 100%); 
  background: -webkit-linear-gradient(top, #d10000 0%, #7a0909 100%); 
  border-radius: 10px;
  font-size: 20px; font-weight: bold; color: #fff; text-transform: uppercase;   
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  font-family: 'Lato', sans-serif;
}

.date p {
  font-family: 'Lato', sans-serif;
  font-size: 20px; text-align: center; color: #9e9e9e; 
}

.date p span {
  font-family: 'Lato', sans-serif;
  background: #003366; 
  background: linear-gradient(top, #d10000 0%, #7a0909 100%);
  background: -moz-linear-gradient(top, #d10000 0%, #7a0909 100%);
  background: -webkit-linear-gradient(top, #d10000 0%, #7a0909 100%);
  font-size: 20px; font-weight: bold; color: #fff; text-transform: uppercase;   
  display: block;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  padding: 6px 0 6px 0;
}

.eventName{
  font-size: 30px; color: #9e9e9e; 
  font-family: 'Lato', sans-serif;
  position:relative;
  bottom:8px;
}

.eventLocation{
  font-size: 20px; color: #9e9e9e; 
  font-family: 'Lato', sans-serif;
  position:relative;
  text-align: left;
}

.eventTime{
  font-size: 15px; color:#9e9e9e;
  font-family: 'Lato', sans-serif;
  position:relative;
  bottom:75px;
  left: 1000px;
}

.attendButton{
  font-size: 30px; color:#9e9e9e;
  font-family: 'Lato', sans-serif;
  position:relative;
  bottom:75px;
  left:1000px;
}