<div ng-include="'components/navbar/navbar.html'"></div>

<div ng-hide="showEditEventPage">
  <table class="table table-striped table-hover"> 
    <thead>
      <tr>
      <form class="form-horizontal">
        <input id="textinput" name="textinput" placeholder="Search" class="form-control example-animate-container" type="text" ng-model="searchText"/>
      </form></br>
      </tr>
    </thead>

    <tbody data-link = "row" class="rowlink" style="font-family: 'Lato', sans-serif;">
      <tr ng-repeat="event in events | filter:searchText">
          <td><a href="/#/listview/{{event._id}}"><div class="date"><p> {{event.startDate | date: 'dd'}} <span> {{event.startDate | date: 'MMM' }}</span></p></div></a></td>
          <td>
            <span class="eventName">{{event.eventName}}</span>
            <span class="eventLocation">{{event.eventLocation}}</span>
          </td>
            <td class="rowlink-skip">
              <span class="eventTime">{{event.startDate | date:'hh:mm a'}} - {{event.endDate | date:'hh:mm a'}}</span>
              <span class="deleteButton rowlink-skip"><button type="button" class="btn btn-danger btn-sm" ng-click="deleteEvent($index)"><span class="glyphicon glyphicon-trash"></span></button></span> 
              <span class="editButton rowlink-skip"><button type="button" class="btn btn-warning btn-sm" ng-click="editEvent($index); showEditEvent()"><span class="glyphicon glyphicon-pencil"></span></button></span>
              <span class="attendButton rowlink-skip"><button type="button" class="btn btn-primary btn-sm" ng-click="attending(event, $index)">Attend?</button></span>
              <span class="rowlink-skip eventAttendees" bs-modal="modal" content-template="app/listview/viewAttendees.html" ng-click="getEvent(event)"><a href = "">Attendees:</a> {{event.attendees.length}}</span>
            </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container" ng-show="showEditEventPage">
  <form role="form">
    <div class="form-group has-*">
      <label class="control-label">Event Name</label>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" class="form-control" name="eventName" ng-model="eventObj.eventName" placeholder="Event Name" data-placement="right" data-trigger="focus" data-animation="am-flip-x" bs-popover="eventName" />
      </div>
    </div>

    <div class="form-group has-*">
      <label class="control-label">From</label><br>
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
        <input type="text" size="10" class="form-control" ng-model="eventObj.startDate" data-autoclose="1" placeholder="Date" bs-datepicker />
        <div class="input-group-addon"><span class="glyphicon glyphicon-time"></span></div>
        <input type="text" size="8" class="form-control" ng-model="eventObj.startDate" data-autoclose="1" placeholder="Time" bs-timepicker />
      </div>
    </div>

    <div class="form-group has-*">
      <label class="control-label">To</label><br>
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
        <input type="text" size="10" class="form-control" ng-model="eventObj.endDate" data-autoclose="1" placeholder="Date" bs-datepicker />
        <div class="input-group-addon"><span class="glyphicon glyphicon-time"></span></div>
        <input type="text" size="8" class="form-control" ng-model="eventObj.endDate" data-autoclose="1" placeholder="Time" bs-timepicker />
      </div>
    </div>

    <!--Things we cannot do correctly:
    highlight text we want to delete, click enter and backspace take u to home page and wipe out form-->
    <div class="form-group has-*">
      <label class="control-label">Event Location</label>

      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></div>
        <!--<input type="text" class="form-control" name="eventLocation" ng-model="eventObj.eventLocation" placeholder="Location" data-placement="right" data-trigger="focus" data-animation="am-flip-x" bs-popover="locationName">-->
        <google-places location="location"></google-places>
      </div>
    </div>

    <div class="form-group has-*">
      <button type="submit" class="btn btn-success" ng-click="submitEvent()">Submit</button>
      <button class="btn btn-primary" ng-click="hideEditEvent()">Back</button>
    </div>
  </form>
</div>
