<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" ng-bind-html="title"></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid" style="font-family: 'Lato', sans-serif;">
          <div class="row">
            <div class="col-sm-12">
              <form class="form" name="form" ng-submit="login(form)" novalidate>

                <div class="form-group" ng-class="{ 'has-success': form.username.$valid && submitted,
                                                    'has-error': (form.username.$required && submitted)
                                                    || (form.password.$invalid && submitted) }">
                  <label>Username</label>

                  <input type="text" name="username" class="form-control" ng-model="user.username" 
                  ng-minlength="3"
                  required>
                  <p class="help-block"
                     ng-show="(form.username.$error.minlength || form.username.$error.required) && submitted">
                    Username must be at least 3 characters.
                  </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                                    'has-error': (form.password.$required && submitted) ||
                                                    (form.password.$invalid && submitted) }">
                  <label>Password</label>

                  <input type="password" name="password" class="form-control" ng-model="user.password"
                  ng-minlength="3"
                  required>
                  <p class="help-block"
                     ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                    Password must be at least 3 characters.
                  </p>
                </div>


              <!-- <div class="form-group" ng-class="{ 'has-success': form.username.$valid && submitted,
                                                  'has-error': form.username.$invalid && submitted }">
                <label>Username</label>

                <input type="text" name="username" class="form-control" ng-model="user.username"
                       required
                       mongoose-error/>
                <p class="help-block" ng-show="form.username.$error.username && submitted">
                  Doesn't look like a valid username.
                </p>
                <p class="help-block" ng-show="form.username.$error.required && submitted">
                  What's your username?
                </p>
                <p class="help-block" ng-show="form.username.$error.mongoose">
                  {{ errors.username }}
                </p>
              </div>-->

                <div>
                  <button class="btn btn-inverse btn-lg btn-login" style="width:100%;" type="submit">
                    Login
                  </button>
                  <!--<a class="btn btn-default btn-lg btn-register" href="/signup">
                    Register
                  </a>-->
                </div>

                
                <hr>
                <div>
                  <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook'); $hide()">
                    <i class="fa fa-facebook"></i> Connect with Facebook
                  </a>
                  <a class="btn btn-google-plus" href="" ng-click="loginOauth('google'); $hide()">
                    <i class="fa fa-google-plus"></i> Connect with Google+
                  </a>
                </div>
              </form>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
