<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" style="font-family: 'Lato', sans-serif;">
  <div class="page-header"><h1><b>Create Event</b></h1></div>
  <form name="createEventForm" ng-submit="createForm(createEventForm.$valid) && createEventForm.$valid" novalidate>

    <!-- Event Name -->
    <div class="form-group" ng-class="{ 'has-error' : (createEventForm.eventName.$error.required && submitted) || (createEventForm.eventName.$error.minlength && submitted)}">
      <label>Event Name</label>
      <input type="text" name="eventName" class="form-control" ng-minlength="3" ng-maxlength="50" ng-model="eventObj.eventName" placeholder="Event Name" required>
      <div class="text-danger" ng-show="createEventForm.eventName.$error.minlength && submitted" class="help-block">Event Name should be greater than 3 characters long.</div>
      <div class="text-danger" ng-show="submitted && createEventForm.eventName.$error.required" class="help-block">Please enter in an Event Name.</div>

    </div>

    <!-- Event Start -->
    <label>Start</label>
    <label class="col-sm-offset-5">End</label>

    <div class="form-inline">
      <div class="form-group" ng-class="{ 'has-error' : (createEventForm.startDate.$error.required && submitted)}">
       <input placeholder="Start Date" data-mask="99/99/99" type="text" name="startDate" ng-model="eventObj.startDate" class="form-control" date-parser="shortDate" required/>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : (createEventForm.startTime.$error.required && submitted)}">
       <input type="text" size="17" name="startTime" ng-model="eventObj.startTime" placeholder="Start Time" dn-timepicker class="form-control" required/>
      </div>

       <!-- Event End -->
       <div class="form-group" ng-class="{ 'has-error' : (createEventForm.endDate.$error.required && submitted)}">
         <input placeholder="End Date" data-mask="99/99/99" type="text" name="endDate" ng-model="eventObj.endDate" class="form-control" date-parser="shortDate" required/>
       </div>
       <div class="form-group" ng-class="{ 'has-error' : (createEventForm.endTime.$error.required && submitted)}">  
         <input type="text" size="17" name="endTime" ng-model="eventObj.endTime" placeholder="Start Time" dn-timepicker class="form-control" required/>
       </div>
       <div class="text-danger" ng-show="submitted && createEventForm.startDate.$error.required">Please enter a valid Start Date.</div>      
       <div class="text-danger" ng-show="submitted && createEventForm.startTime.$error.required">Please enter a valid Start Time.</div>
       <div class="text-danger" ng-show="submitted && createEventForm.endDate.$error.required">Please enter a valid End Date.</div>
       <div class="text-danger" ng-show="submitted && createEventForm.endTime.$error.required">Please enter a valid End Time.</div>

     </div>

   <!--Oddly enough the form needs some spacing in between location and event time/location so this is here-->
   <div class="form-group">
   </div>

    <div class="form-group" ng-class="{ 'has-error' : createEventForm.location.$error.required && submitted}">
      <label>Location</label>
      <google-places location="location" coords="locationCoords"></google-places>
      <p ng-show="createEventForm.google_places_ac.$invalid && !createEventForm.google_places_ac.$pristine" class="help-block">A Location is required.</p>
    </div>

    <div class="form-group">
      <a ng-href="" bs-modal="modal" content-template="app/createEvent/invitedFriendsModal.html" ng-show="eventObj.invited.length > 0">
        {{eventObj.invited.length}} friends invited!</a>
      </div>

      <div class="form-group">
        <button type="button" class="form-control btn btn-primary" ng-click="addFriendsToinvite()" bs-modal="modal" content-template="app/createEvent/inviteFriendsModal.html">Invite Friends!</button>
      </div>

    <div class="form-group">
      <button type="submit" class="form-control btn btn-success" >Submit</button>
    </div>
</div>
