<div ng-include="'components/navbar/navbar.html'"></div>
<link type="createEvent.scss" rel="stylesheet" href="/app/createEvent/createEvent.scss" />

<legend>Create Event</legend>

<div class="container" ng-controller="CreateEventCtrl">
      <form class="contact-us form-horizontal" method="post">
        <fieldset>
        <div class="form-group has-*">
          <label class="control-label">Event Name</label>
            
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" class="form-control" name="eventName" ng-model="eventObj.eventName" placeholder="Event Name" popover="Enter the desired event name." popover-trigger="focus" popover-title="Event Name" popover="mouseenter">
        </div>
      </div>

        <div class="form-group has-*">
          <label class="control-label">Event Start Date</label>
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
              <input type="date" class="form-control  " name="startDate" ng-model="eventObj.startDate" placeholder="Start Date">
              <input type="text" class="form-control" name="startTime" ng-model="eventObj.startTime" placeholder="Start Time">
        </div>
      </div>

      <div class="form-group has-*">
          <label class="control-label">Event End Date</label>
            
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
              <input type="date" class="form-control" name="endDate" ng-model="eventObj.endDate" placeholder="End Date">
              <input type="text" class="form-control" name="startTime" ng-model="eventObj.endTime" placeholder="EndTime">
        </div>
      </div>


        <div class="form-group has-*">
          <label class="control-label">Event Location</label>
            
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
              <input type="text" class="form-control" name="eventLocation" ng-model="eventObj.eventLocation" placeholder="Location">
        </div>
      </div>

    <div class="form-group has-*">
      <button type="submit" class="btn btn-primary" ng-click="create()">Submit</button>
    </div>

    </fieldset>
  </form>
</div>
