<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" ng-controller="CreateEventCtrl">
  <div class="row">
    <div class="col-md-6">
      <form name="event" role="form">
        <div class="form-group">
          <input type="text" class="form-control" name="eventName" ng-model="eventName" placeholder="Event Name">
          <!--<span ng-show="event.eventName.$dirty && event.eventName.$error.required">Required!</span> -->
        </div>
        <div class="form-inline">
          <input type="date" class="form-control" name="startDate" ng-model="time.startDate" placeholder="Date"/>
          <!--  <span ng-show="event.startDate.$dirty && event.startDate.$error.date">Not a valname date</span> -->
          <input type="time" class="form-control" name="startTime" ng-model="time.startTime" placeholder="Start Time"/>
          <!--  <span ng-show="event.startTime.$dirty">Not a valname time</span>-->
        </div>
        <div class="form-inline">
          <input type="date" class="form-control" name="endDate" ng-model="time.endDate" placeholder="Date"/>
          <span ng-show="event.endDate.$dirty && event.endDate.$error.date">Not a date</span>
          <input type="time" class="form-control" name="endTime" ng-model="time.endTime" placeholder="End Time"/>
          <!--  <span ng-show="event.endTime.$dirty">Not a valname time</span>-->
        </div>
        <br/>
        <div class="form-group">
          <input type="text" class="form-control" name="eventLocation" ng-model="eventLocation" placeholder="Location">
          <!--<span ng-show="event.eventLocation.$dirty">Not a location</span> -->
        </div>
        <div>
          <button ng-disabled="event.$invalid" ng-click="createEvent()">Update</button>
        </div>
      </form>
    </div>
    <div class="col-md-6" style="vertical-align:top">
      <div>
        <h4>Preview</h4>
      </div>
      <p>
        <table>
          <tr>
            <td>Event Name:</td>
            <td>{{eventName}}</td>
          </tr>
          <tr>
            <td>Dates:</td>
            <td>{{time.startDate}} - {{time.endDate}}</td>
          </tr>
          <tr>
            <td>Times: </td>
            <td>{{time.startTime}} - {{time.endTime}}</td>
          </tr>
          <tr>
            <td>Location:</td>
            <td>{{eventLocation}}</td>
          </tr>
        </table>
      </p>
    </div>
  </div>
</div>
