<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container" ng-hide="showEditEventPage" style="font-family: 'Lato', sans-serif;">
  <div class="page-header"><h1><b>Welcome {{currentUser.username}}!</b></h1></div>
    <!-- <div class="fileinput fileinput-new" data-provides="fileinput">
      <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
      <div style="text-align:center">
        <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
      </div>
    </div>-->
    <h5>Current Resides at: {{currentUser.location}}</h5>
    <h5>About me: {{currentUser.aboutMe}}</h5>

    <table class="table table-striped table-hover"> 
      <tbody data-link ="row" class="rowlink">
        <tr ng-repeat="event in currentUser.eventsAttending | filter:searchText">
          <td><a href="/#/listview/{{event._id}}"><!--<div class="date"><p> {{event.startDate | date: 'dd'}} <span> {{event.startDate | date: 'MMM' }}</span></p></div>--></a></td>
          <td style="padding-top:10px; padding-bottom:30px;">
            <span class="eventName">{{event.eventName}}</span>
            <div class="eventTime">{{event.startDate | date:'MMMM dd yyyy'}} @ {{event.startTime | date:'hh:mm a'}} &nbsp;&nbsp;–&nbsp;&nbsp;{{event.endDate | date:'MMMM dd yyyy'}} @ {{event.endTime | date:'hh:mm a'}}</div>
            <span class="eventLocation">{{event.eventLocation}}</span>
          </td>
          <td class="rowlink-skip">
            <span ng-show="currentUser.username === event.creator" style="position:relative; top:35px;"><button type="button" class="btn btn-warning btn-sm" ng-click="editEvent($index); showEditEvent()"><span class="glyphicon glyphicon-pencil"></span></button></span>
            <span ng-show="currentUser.username === event.creator"style="position:relative; top:35px;"><button type="button" class="btn btn-danger btn-sm" ng-click="deleteEvent($index)"><span class="glyphicon glyphicon-trash"></span></button></span> 
            <span style="position:relative; top:35px;"><button type="button" class="btn btn-primary btn-sm" ng-click="attending(event, $index)">Attend?</button></span>
            <div style="position:relative; right:518px; top:58px;" bs-modal="modal" content-template="app/listview/viewAttendees.html" ng-click="getEvent(event)"><a href = "">Attendees:</a> {{event.attendees.length}}</div>
          </td>
        </tr>
      </tbody>
    </table>

</div>
<div ng-show="showEditEventPage" ng-include="'app/listview/editEvent.html'">
</div>
