.angular-google-map-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

.map_canvas {
  position: relative;
  height: 400px;
  width: auto;
}

.pac-container {
    z-index: 1051 !important;
}

.expanded{
  height: auto;
  margin-left: -50%;
  margin-right: -50%;
  width: auto;
}
